.banner-img {
  width: 100%;
  height: 60vh;
  position: relative;
  background-color: #000250;
  opacity: 0.9;
}

.banner_content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60vh;
}

.heading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-box {
  background-color: rgba(0, 0, 0, 0.695);
  color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.695);
}
.banner_content .heading h1 {
  font-size: 2.4rem;
}

.banner_content .heading p {
  font-size: 1.4rem;
  text-transform: uppercase;
  /* text-align: center; */
}

@media screen and (max-width: 40rem) {
  .banner_content .heading h1 {
    font-size: 2rem;
  }
}
