/* Styles for the gradient effect */

#gradient-canvas {
  width: 100%;
  height: 100%;
  /* --gradient-color-1: #449ce4;
  --gradient-color-2: #2f8bc1;
  --gradient-color-3: #ccbeee;
  --gradient-color-4: #4c57f6; */
}

.HomepageHeroHeader {
  position: absolute;
  z-index: 1;
  color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
  padding: 4rem;
}

.HomepageHeroHeader__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.HomepageHeroHeader__caption {
  font-size: 1.5rem;
}
/* .Gradient {
  overflow: hidden;
}

.Gradient__canvas {
  position: relative;
  display: block;
  width: inherit;
  height: 15vh;
  opacity: 0;
}
.Gradient__canvas.isLoaded {
  opacity: 1;
  transition: opacity 1.8s ease-in 50ms;
} */

/* Styles for the gradient background */
/* .HomepageHeroGradient {
  --offsetX: 0;
  --transformOriginX: -60px;
  --gradientHeight: 70vh;
  position: relative;
  left: calc(var(--offsetX) * -1);
  height: 70vh; var(--gradientHeight);
  transform-origin: var(--transformOriginX) 100%;
  overflow: hidden;
  border: none;
  width: 100%;
  background-image: url(../../../assets/wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
} */
/* Styles for the hero header */
/* .HomepageHeroHeader {
  color: #000000;
  text-align: center;
  padding: 2rem;
}

.HomepageHeroHeader__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.HomepageHeroHeader__caption {
  font-size: 1.5rem;
} */
