.HomepageHeroGradient {
  --gradientColorZero: #a960ee;
  --gradientColorOne: #ff333d;
  --gradientColorTwo: #90e0ff;
  --gradientColorThree: #ffcb57;
  --gradientColorZeroTransparent: rgba(169, 96, 238, 0);
  --gradientColorOneTransparent: rgba(255, 51, 61, 0);
  --gradientColorTwoTransparent: rgba(144, 224, 255, 0);
  --gradientColorThreeTransparent: rgba(255, 203, 87, 0);
  --gradientAngle: var(--angleStrong);
  --gradientHeight: calc(
    100% + var(--sectionPaddingTop) + var(--transformOriginX) *
      var(--sectionAngleSin)
  );
  --offsetX: var(--gutterWidth);
  --transformOriginX: -60px;
  --sectionAngleSin: var(--angleStrongSin);
  position: absolute;
  bottom: 0;
  top: auto;
  left: calc(var(--offsetX) * -1);
  width: var(--windowWidth);
  height: var(--gradientHeight);
  transform-origin: var(--transformOriginX) 100%;
  transform: skewY(var(--gradientAngle));
  overflow: hidden;
  border: none;
}
@media (min-width: 600px) {
  .HomepageHeroGradient {
    --transformOriginX: calc(var(--gutterWidth) * 0.8);
  }
}
.Gradient {
  overflow: hidden;
}
.Gradient__canvas {
  position: relative;
  display: block;
  width: inherit;
  height: 100%;
  opacity: 0;
}
.Gradient__canvas.isLoaded {
  opacity: 1;
  transition: opacity 1.8s ease-in 50ms;
}
.Gradient__guides {
  --guideDashedColor: rgba(0, 0, 0, 0.3);
  --guideSolidColor: rgba(0, 0, 0, 0.2);
  mix-blend-mode: soft-light;
}
.Gradient:after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 1000px;
  width: 100%;
  height: 100%;
  background: radial-gradient(
        var(--gradientColorZero) 40%,
        var(--gradientColorTwoTransparent) 60%
      ) -620px -180px no-repeat,
    radial-gradient(
        var(--gradientColorThree) 33%,
        var(--gradientColorThreeTransparent) 67%
      ) -120px -24px no-repeat,
    radial-gradient(
        var(--gradientColorTwo) 40%,
        var(--gradientColorTwoTransparent) 70%
      ) -470px 150px no-repeat,
    var(--gradientColorZero);
}
@media (min-width: 600px) {
  .Gradient:after {
    background: radial-gradient(
          var(--gradientColorZero) 40%,
          var(--gradientColorTwoTransparent) 60%
        ) -420px -180px no-repeat,
      radial-gradient(
          var(--gradientColorThree) 23%,
          var(--gradientColorThreeTransparent) 70%
        )
        240px -24px no-repeat,
      radial-gradient(
          var(--gradientColorTwo) 30%,
          var(--gradientColorTwoTransparent) 70%
        ) -270px 220px no-repeat,
      var(--gradientColorZero);
  }
}
@media (min-width: 900px) {
  .Gradient:after {
    background: radial-gradient(
          var(--gradientColorThree) 23%,
          var(--gradientColorThreeTransparent) 67% 100%
        )
        385px -24px,
      radial-gradient(
          var(--gradientColorOne) 0,
          var(--gradientColorOneTransparent) 60% 100%
        ) -940px 290px,
      radial-gradient(
          var(--gradientColorTwo) 10%,
          var(--gradientColorTwoTransparent) 60% 100%
        ) -120px 250px,
      radial-gradient(
          var(--gradientColorOne) 40%,
          var(--gradientColorOneTransparent) 57% 100%
        )
        495px -44px,
      radial-gradient(
          var(--gradientColorZero) 30%,
          var(--gradientColorZeroTransparent) 67% 100%
        )
        122px -120px,
      radial-gradient(
          var(--gradientColorZero) 10%,
          var(--gradientColorZeroTransparent) 60% 100%
        ) -420px 120px,
      radial-gradient(
          var(--gradientColorTwo) 15%,
          var(--gradientColorTwoTransparent) 50% 100%
        ) -620px 0,
      radial-gradient(
          var(--gradientColorTwo) 25%,
          var(--gradientColorTwoTransparent) 50% 100%
        )
        520px -250px,
      var(--gradientColorZero);
    background-repeat: repeat-y;
  }
}
.Gradient.isLoaded:after {
  transition: transform 1s 1s;
  transform: translateX(-50%) scaleY(0.995);
}
.HomepageHeroHeader {
  --titleFontMin: 50;
  --titleFontMax: 78;
  --viewportMin: var(--viewportWidthSmall);
  --viewportMax: var(--viewportWidthMedium);
  --titleFontSize: calc(
    var(--titleFontMin) * 1px + (var(--titleFontMax) - var(--titleFontMin)) *
      (var(--windowWidth) - var(--viewportMin) * 1px) /
      (var(--viewportMax) - var(--viewportMin))
  );
  --titleLineHeight: 1.04;
  --titleLetterSpacing: -0.04em;
  --titleWeight: var(--fontWeightBold);
  --titleFont: var(--titleWeight) var(--titleFontSize) / var(--titleLineHeight)
    var(--fontFamily);
  --headerMarginTop: 100px;
  --headerPadding: 0 var(--headerPaddingRight) 0 var(--headerPaddingLeft);
  --captionHeight: 25px;
  --captionTitleGap: 48px;
  --captionMarginTop: calc(
    var(--headerMarginTop) - var(--captionHeight) - var(--captionTitleGap)
  );
  position: relative;
  min-width: 0;
  padding: var(--headerPadding);
}
.MktRoot[lang^='fr'] .HomepageHeroHeader {
  --titleFontMin: 40;
  --titleFontMax: 68;
}
.MktRoot[lang='fr-ca-au'] .HomepageHeroHeader,
.MktRoot[lang='fr-ca-gb'] .HomepageHeroHeader,
.MktRoot[lang='fr-ca-us'] .HomepageHeroHeader {
  --titleFontMin: 40;
  --titleFontMax: 60;
}
.MktRoot[lang='es-419-au'] .HomepageHeroHeader,
.MktRoot[lang='es-419-gb'] .HomepageHeroHeader,
.MktRoot[lang='es-419-us'] .HomepageHeroHeader,
.MktRoot[lang='es-au'] .HomepageHeroHeader,
.MktRoot[lang='es-gb'] .HomepageHeroHeader,
.MktRoot[lang='es-us'] .HomepageHeroHeader {
  --titleFontMin: 38;
  --titleFontMax: 62;
}
.MktRoot[lang*='ja'] .HomepageHeroHeader {
  --titleFontMin: 34;
  --titleFontMax: 62;
}
@media (min-width: 600px) {
  .HomepageHeroHeader {
    --headerPaddingRight: var(--columnPaddingNone);
    --titleFontMin: 60;
    --titleFontMax: 94;
    --viewportMin: var(--viewportWidthMedium);
    --viewportMax: var(--viewportWidthLarge);
  }
  .MktRoot[lang^='fr'] .HomepageHeroHeader {
    --titleFontMin: 36;
    --titleFontMax: 72;
  }
  .MktRoot[lang='fr-au'] .HomepageHeroHeader,
  .MktRoot[lang='fr-gb'] .HomepageHeroHeader,
  .MktRoot[lang='fr-us'] .HomepageHeroHeader {
    --titleFontMin: 46;
    --titleFontMax: 76;
  }
  .MktRoot[lang='es-419-au'] .HomepageHeroHeader,
  .MktRoot[lang='es-419-gb'] .HomepageHeroHeader,
  .MktRoot[lang='es-419-us'] .HomepageHeroHeader,
  .MktRoot[lang='es-au'] .HomepageHeroHeader,
  .MktRoot[lang='es-gb'] .HomepageHeroHeader,
  .MktRoot[lang='es-us'] .HomepageHeroHeader {
    --titleFontMin: 46;
    --titleFontMax: 78;
  }
  .MktRoot[lang*='ja'] .HomepageHeroHeader {
    --titleFontMin: 40;
    --titleFontMax: 66;
  }
}
@media (min-width: 1112px) {
  .HomepageHeroHeader {
    --titleFontSize: 94px;
  }
  .MktRoot[lang^='fr'] .HomepageHeroHeader {
    --titleFontSize: 72px;
  }
  .MktRoot[lang='fr-au'] .HomepageHeroHeader,
  .MktRoot[lang='fr-gb'] .HomepageHeroHeader,
  .MktRoot[lang='fr-us'] .HomepageHeroHeader {
    --titleFontSize: 76px;
  }
  .MktRoot[lang='es-419-au'] .HomepageHeroHeader,
  .MktRoot[lang='es-419-gb'] .HomepageHeroHeader,
  .MktRoot[lang='es-419-us'] .HomepageHeroHeader,
  .MktRoot[lang='es-au'] .HomepageHeroHeader,
  .MktRoot[lang='es-gb'] .HomepageHeroHeader,
  .MktRoot[lang='es-us'] .HomepageHeroHeader {
    --titleFontSize: 78px;
  }
  .MktRoot[lang*='ja'] .HomepageHeroHeader {
    --titleFontSize: 66px;
  }
}
.HomepageHeroHeader__caption {
  margin-top: var(--captionMarginTop);
}
@media (min-width: 600px) {
  .HomepageHeroHeader__caption {
    min-width: calc(100% + 100px);
  }
}
.HomepageHeroHeader__title {
  margin-top: var(--headerMarginTop);
  position: relative;
  display: flex;
  align-items: flex-end;
  font: var(--titleFont);
  color: #bdc6d2;
  letter-spacing: var(--titleLetterSpacing, inherit);
}
.HomepageHeroHeader--hasCaption .HomepageHeroHeader__title {
  margin-top: var(--captionTitleGap);
}
@media (min-width: 600px) {
  .HomepageHeroHeader__title {
    min-width: calc(100% + 100px);
    min-height: 200px;
  }
}
html[lang^='ja'] .HomepageHeroHeader__title {
  font-weight: 600;
  font-variation-settings: 'wght' 500;
}
.HomepageHeroHeader__title--overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: var(--headerPadding);
  z-index: 2;
  color: #3a3a3a;
  opacity: 0.3;
}
.HomepageHeroHeader__title--burn {
  mix-blend-mode: color-burn;
  opacity: 1;
}
