.about-container {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.about-container .left-content {
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 22rem;
}

.about-container .left-content p {
  margin: 1.2rem 0;
}

.about-container .right-content {
  max-width: 44rem;
}

.right-content .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}

.right-content .img {
  max-width: 90%;
  border: 1px solid #333333;
}

.right-content .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  padding-top: 20%;
  z-index: 6;
}

.right-content .bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
}
