.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  width: 100%;
  padding: 2rem 0;
  background: #ffffff;
}

.about-container .left-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0 7%;
  color: #000000;
}
.left-content h2 {
  color: #000000;
}
.about-container .left-content article {
  margin: 2rem 0;
}
.left-content button {
  background-color: #975eb0;
  border-radius: 5px;
}
.left-content button:hover {
  background-color: #881db6;
}

.about-container .right-content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  overflow: hidden;
  padding: 0 7%;
}
.right-content-heading {
  position: relative;
}

.right-content-heading h2 {
  color: #000000;
}
.right-content .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0;
}
.skill-box-container {
  color: #ddd;
  cursor: pointer;
}
.skill-box-container:hover > .skill-title::after,
.skill-box-container:hover > .skill-title::before {
  width: 2.188rem;
}
.skill-box-container:hover .img {
  transform: translateY(-0.625rem);
}
.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.skill-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #975eb0;
  transition: 0.5s;
}
.skill-title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #975eb0;
  transition: 0.5s;
}
.skill-title p {
  color: #000000;
  margin: 0.5rem;
}
.img {
  width: 4.375rem;
  height: 4.375rem;
  position: relative;
  border-radius: 2.813rem;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 4.375rem;
  background: hsla(282, 34%, 53%, 0.5);
  /* background: rgba(100, 100, 100, 0.5); */
  border-radius: 2.813rem 0 0 2.813rem;
}
.skill-icon {
  width: 3.125rem;
  z-index: 2;
}
/* .skill .img-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} */

@media screen and (max-width: 40rem) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
}
