.form {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  margin: auto;
  max-width: 37.5rem;
}

.form label {
  color: #000000;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  margin-bottom: 1rem;
  padding: 0.625rem 1.125rem;
  font-size: 1.2rem;
  background-color: rgba(147, 112, 160, 0.1);
  border-color: rgba(23, 23, 23, 0.1);
  color: #000000;
  border-radius: 5px;
}

.successMessage {
  display: flex;
  justify-content: center;
  color: greenyellow;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
}
