.footer {
  width: 100%;
  padding: 6rem 0;
  background-color: hsla(0, 0%, 7%, 0.8);
}

.footer-container {
  margin: auto;
  max-width: 71.25rem;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  grid-gap: 2.5rem;
  font-size: 1.2rem;
}
.fa-icon {
  color: #ffffff;
  margin-right: 2rem;
}
.icon {
  color: #ffffff;
  margin-right: 1rem;
}
.icon-codewars {
  color: #ffffff;
  border-radius: 3px;
  width: 2.188rem;
  height: auto;
  margin-bottom: 0.15rem;
}

.bold-text {
  font-weight: bold;
  padding-bottom: 0.7rem;
  margin-bottom: 2rem;
}
.bold-text a {
  color: #000000;
  text-decoration: none;
}
.bold-text a:hover,
a:focus {
  color: #181818;
  text-decoration: none;
}
.bold-text a:visited,
a:active {
  color: #8a8a8a;
  text-decoration: none;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.content-column {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.social {
  margin-top: 1rem;
}

.location {
  display: flex;
  margin-bottom: 0.8rem;
}

.fa-icon div p {
  line-height: 1.875rem;
}

@media screen and (max-width: 40rem) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
